:root {
  --border: 2px solid #e4e4e7;
  --primary: #ff6262;
  --secondary: #9462ff;
  --shadow: #ff626230;
  --hover: #fe4a4a;
  --save: #10b981;
  --save-hover: #059669;
  --grey: #f9fafb;

  --text-primary: #18181b;
  --text-secondary: #71717a;
  --primary-light: #fef2f2;

  --red: #dc2626;
  --red-shade: #dc262630;
  --blue: #266cdc;
  --blue-shade: #266cdc30;
  --orange: #dcd326;
  --orange-shade: #dcd32630;
  --green: #26dc47;
  --green-shade: #26dc4730;
}
